/* Section3 */
#section3 {
    color: #4b4b4b;
    margin-top: 10px;
  }
  #section3 .trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  #section3 .trainers h2 {
    color: #34529a;
    font-weight: 900;
    text-align: center;
  }
  #section3 .trainers .text {
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
  }
  #section3 .trainers .images {
    display: flex;
    justify-content: space-around;
    gap: 80px;
  }
  #section3 .trainers .images img {
    width: 100%;
    border-radius: 10px;
    border: #f39d09 2px solid;
  }
  #section3 .trainers .images .img-div {
    position: relative;
    z-index: 1;
  }
  #section3 .trainers .images .img-div::after {
    position: absolute;
    content: "";
    top: -2%;
    left: -2%;
    background-color: #325493;
    width: 104%;
    height: 104%;
    z-index: -1;
    clip-path: polygon(
      0 26%,
      35% 25%,
      35% 0%,
      65% 0%,
      65% 25%,
      100% 25%,
      100% 50%,
      65% 50%,
      65% 100%,
      35% 100%,
      35% 50%,
      0 50%
    );
  }
  #section3 .trainers .images .img-div:hover::after {
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    transition: all 1s;
  }
  
  #section3 .trainers .images .path {
    position: absolute;
    background-color: #325493;
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30%;
    bottom: 10%;
    color: #f2f8ff;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
  #section3 .trainers .images .img-div:hover .path {
    display: flex;
    transition: opacity 1s;
    opacity: 1;
  }
  
  #section3 .purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    color: #4b4b4b;
  }
  #section3 .purchase h2 {
    color: #34529a;
  }
  #section3 .purchase .text {
    margin: 25px 0 35px 0;
    text-align: center;
    font-weight: 500;
  }
  
  #section3 .purchase .card-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  #section3 .purchase .card-section .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    border-radius: 10px;
  }
  
  #section3 .purchase .card-section .card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  #section3 .purchase .card-section .card p {
    text-align: center;
    font-weight: 800;
    font-size: 1.1rem;
  }
  
  #section3 .purchase div .card .head {
    font-weight: 800;
    font-size: 1.1rem;
    margin: 5px 0;
  }
  #section3 .purchase div .card .price {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  #section3 .purchase div .card .price span {
    text-decoration: line-through;
  }
  #section3 .purchase div .card .add {
    margin: 10px 0;
    position: relative;
    font-size: 0.9rem;
  }
  #section3 .purchase div .card .add i {
    position: absolute;
    left: 20px;
  }
  #section3 .trainers .dialog {
    display: flex;
    gap: 100px;
  }
  #section3 .trainers .dialog .dialog-one .dialog-person {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  #section3 .trainers .dialog .dialog-one .dialog-person img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #section3 .trainers .dialog .dialog-one .dialog-person div {
    margin-left: 10px;
  }
  #section3 .trainers .dialog .dialog-one .dialog-person div p {
    font-weight: 600;
    margin-bottom: 4px;
  }
  #section3 .trainers .dialog .dialog-one .dialog-person div span {
    font-size: 0.8rem;
  }
  #section3 .trainers .dialog .comment {
    margin-bottom: 50px;
    padding: 20px;
    text-align: justify;
    background-color: #34529a;
    color: #f0f8ff;
    font-size: 0.9rem;
    position: relative;
  }
  #section3 .trainers .dialog .comment::after {
    position: absolute;
    bottom: -40px;
    right: 0px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #8295c0 transparent transparent transparent;
    transform: rotate(0deg);
  }
  #section3 .trainers .dialog .comment::before {
    position: absolute;
    bottom: -40px;
    left: 0px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #8295c0 transparent transparent;
    transform: rotate(0deg);
  }
  
  #section3 .trainers .contact {
    display: flex;
    gap: 80px;
    margin-top: 50px;
  }
  #section3 .trainers .contact .inputs .contact-info {
    display: flex;
    gap: 20px;
  }
  #section3 .trainers .contact .inputs .contact-inputs {
    margin-top: 20px;
  }
  #section3 .trainers .contact .inputs .contact-inputs input,
  #section3 .trainers .contact .inputs .contact-inputs textarea {
    width: 100%;
    background-color: #f2f8ff;
    padding: 8px 8px;
    border: none;
    margin: 10px 0;
  }
  #section3 .trainers .contact .inputs .contact-inputs textarea {
    resize: none;
  }
  #section3 .trainers .contact .inputs .contact-inputs input,
  #section3 .trainers .contact .inputs .contact-inputs textarea:focus {
    outline: none;
  }
  
  #section3 .trainers .contact .maps iframe {
    max-width: 100%;
  }