/Users/zeynelbasaran/Desktop/Patika-Bootcamp/7Paket Yönetimi
/Users/zeynelbasaran/Desktop/Patika-Bootcamp/Botcamp Dökümentasyon
Botcamp Dökümentasyon
/Users/zeynelbasaran/Desktop/Patika-Bootcamp/Cohort3LiveClasses
/Users/zeynelbasaran/Desktop/Patika-Bootcamp/8Week
10Week/node_modules
9Week/node_modules