*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    padding: 20px 8%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.home-link{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.input-box{
    color: black;
    border: 1px solid white;
    outline: 0;
    padding: 8px 12px;
    border-radius: 50px;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
}
.input-box::placeholder{
    font-weight: 500;
    font-family: inherit;
}


.card{
    width: 300px;
}

.list{
    margin: 30px 0px;
    padding: 10px 8%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.carddetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.carddetail ul{
    list-style-type: none;
    background-color: gray;
    
}
.carddetail ul li{
    margin: 10px;
}
